@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";
@import "@fontsource/inter/800.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }
  body {
    @apply font-sans bg-background text-slate-900 antialiased;
    font-feature-settings: "ss01", "cv11";
  }
  h1,
  h2,
  h3,
  h4 {
    @apply font-semibold tracking-tightish;
    font-weight: 650;
  }
}
